.foot {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin: 0 auto;
}

.footerIcon {
  -webkit-box-shadow: -1px 19px 73px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 19px 73px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 19px 73px 3px rgba(0, 0, 0, 0.75);
  height: 45px;
  width: 45px;
}

.cancel {
  color: rgb(248, 69, 69);
}

.refresh {
  color: rgb(102, 233, 102);
}

.thunder {
  color: rgb(218, 214, 23);
}

.star {
  color: blueviolet;
}

.heart {
  color: crimson;
}
